<form fxLayout="column" fxLayoutAlign="space-around center" style="width: 100%; height: auto;" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card fxLayoutAlign="space-around center" style="width: 50%; padding: 2% 0;">
      <mat-card-header>
        <div fxLayout="column">
          <div fxLayoutAlign="space-around center">
            <h1>{{ memberGlobal?.id ? 'Editer' : 'Ajouter' }} un Membre</h1>
          </div>
          <mat-form-field>
            <mat-label>Cin</mat-label>
            <input matInput maxlength="8" formControlName="cin">
          </mat-form-field>
          <div>
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="prenom">
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Date de Naissance</mat-label>
            <input matInput formControlName="dateNaissance" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>CV</mat-label>
            <input matInput formControlName="cv">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <ng-container *ngIf="form.hasError('email') && !form.hasError('required')">
              <mat-error>Please enter a valid email address</mat-error>
            </ng-container>
            <ng-container *ngIf="form.hasError('required')">
              <mat-error>Email is <strong>required</strong></mat-error>
            </ng-container>
          </mat-form-field>
  
          <!-- Enseignant Fields -->
          <mat-form-field *ngIf="type === 'Enseignant'">
            <mat-label>Établissement</mat-label>
            <input matInput formControlName="etablissement">
          </mat-form-field>
          <mat-form-field *ngIf="type === 'Enseignant'">
            <mat-label>Grade</mat-label>
            <input matInput formControlName="grade">
          </mat-form-field>
  
          <!-- Etudiant Fields -->
          <mat-form-field *ngIf="type === 'Etudiant'">
            <mat-label>Sujet</mat-label>
            <input matInput formControlName="sujet">
          </mat-form-field>
          <mat-form-field *ngIf="type === 'Etudiant'">
            <mat-label>Date Inscription</mat-label>
            <input matInput formControlName="dateInscription" [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="type === 'Etudiant'">
            <mat-label>Diplôme</mat-label>
            <input matInput formControlName="diplome">
          </mat-form-field>
  
          <button mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
        </div>
      </mat-card-header>
    </mat-card>
  </form>
  