<div Style="height:85vh; display: flex;flex-direction: column;justify-content: space-around;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card>
            <mat-card-header>
                <mat-card-title><div class="card-element">Students</div></mat-card-title>
                <mat-card-subtitle><div class="card-element"><h1>{{nb_Students}}</h1></div></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        
        <mat-card>
            <mat-card-header>
                <mat-card-title><div class="card-element">Teachers</div></mat-card-title>
                <mat-card-subtitle><div class="card-element"><h1>{{nb_Teachers}}</h1></div></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        
        <mat-card>
            <mat-card-header>
                <mat-card-title><div class="card-element">Tools</div></mat-card-title>
                <mat-card-subtitle><div class="card-element"><h1>{{nb_Tools}}</h1></div></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        
        <mat-card>
            <mat-card-header>
                <mat-card-title><div class="card-element">Events</div></mat-card-title>
                <mat-card-subtitle><div class="card-element"><h1>{{nb_Events}}</h1></div></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        
        <mat-card>
            <mat-card-header>
                <mat-card-title><div class="card-element">Articles</div></mat-card-title>
                <mat-card-subtitle><div class="card-element"><h1>{{nb_Articles}}</h1></div></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-around center" >
        <div class="chart-wrapper">
            <canvas baseChart [type]="'pie'" [datasets]="chartDataPie" [labels]="chartLabelsPie"></canvas>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart [type]="'bar'" [datasets]="chartDataBar" [labels]="chartLabelsBar" [width]="500"></canvas>
        </div>
    </div>
</div>
