<div style="height:85vh; display: flex; flex-direction: column; justify-content: space-around;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="card etudiant-card">Member</div>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-element"><h1>{{ nb_member }}</h1></div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="card tools-card">Tools</div>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-element"><h1>{{ nb_Tools }}</h1></div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="card events-card">Events</div>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-element"><h1>{{ nb_Events }}</h1></div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="card articles-card">Articles</div>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-element"><h1>{{ nb_Articles }}</h1></div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  
    <div class="chart-wrapper">
      <canvas
        baseChart
        [type]="'pie'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
      
       > 
      ></canvas>
    </div>
  </div>
  