<h1>add new professor</h1>
<form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-form-field>
        <mat-label>Cin</mat-label>
        <input matInput formControlName="cin">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>prenom</mat-label>
        <input matInput formControlName="prenom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>date Naissance</mat-label>
        <input matInput formControlName="dateNaissance">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cv</mat-label>
        <input matInput formControlName="cv">
    </mat-form-field>
    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput formControlName="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>grade</mat-label>
        <input matInput formControlName="grade">
    </mat-form-field>
    <mat-form-field>
        <mat-label>etablissement</mat-label>
        <input matInput formControlName="etablissement">
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
</form>