<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="row">
    <h2>CIN:</h2>
    <h2>{{ dataSource.cin }}</h2>
  </div>
  <div fxLayout="row">
    <h2>Nom:</h2>
    <h2>{{ dataSource.nom }} {{ dataSource.prenom }}</h2>
  </div>
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Events
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="dataEvent2" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef> titre </th>
        <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="DateDebut">
        <th mat-header-cell *matHeaderCellDef> Date Debut </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDebut  | date:"MMM dd, yyyy 'at' hh:mm a" }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DateFin">
        <th mat-header-cell *matHeaderCellDef> DateFin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFin  | date:"MMM dd, yyyy 'at' hh:mm a" }} </td>
    </ng-container>

    <ng-container matColumnDef="lieu">
        <th mat-header-cell *matHeaderCellDef> lieu</th>
        <td mat-cell *matCellDef="let element"> {{element.lieu}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsEvent"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsEvent;"></tr>
</table>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tools
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="dataTool2" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Source">
      <th mat-header-cell *matHeaderCellDef> Source </th>
      <td mat-cell *matCellDef="let element"> {{element.source}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date  </th>
      <td mat-cell *matCellDef="let element"> {{element.date  | date:"MMM dd, yyyy 'at' hh:mm a" }}</td>
      <!-- <td mat-cell *matCellDef="let element"> {{element.Date  | date:"MMM dd, yyyy 'at' hh:mm a" }} </td> -->
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumnsTools"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsTools
  ;"></tr>
</table>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Article
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="dataArticle2" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef> titre </th>
      <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date  </th>
      <td mat-cell *matCellDef="let element"> {{element.date  | date:"MMM dd, yyyy 'at' hh:mm a" }} </td>
  </ng-container>

  <!-- Symbol Column -->

  <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="sourcePdf">
      <th mat-header-cell *matHeaderCellDef> sourcePdf</th>
      <td mat-cell *matCellDef="let element"> {{element.sourcePdf}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumnsArticle"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsArticle;"></tr>
</table>
</mat-expansion-panel>