<form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-form-field>
      <mat-label>titre</mat-label>
      <input matInput formControlName="titre">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
  
    <mat-form-field>
      <mat-label>type</mat-label>
      <input matInput formControlName="type">
    </mat-form-field>
    <mat-form-field>
        <mat-label>source Pdf</mat-label>
        <input matInput formControlName="sourcePdf">
      </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </form>