<form [formGroup]="form" (ngSubmit)="OnSubmit()">
  <mat-form-field>
    <mat-label>titre</mat-label>
    <input matInput formControlName="titre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
      <input matStartDate formControlName="dateDebut" placeholder="Start date">
      <input matEndDate formControlName="dateFin" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

  </mat-form-field>


  <mat-form-field>
    <mat-label>lieu</mat-label>
    <input matInput formControlName="lieu">
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>