<form fxLayout="column"[formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-card fxLayoutAlign="space-around center" >
    <mat-card-header>
      <div fxLayout="column">
        <div fxLayoutAlign="space-around center">

          <h1>Ajouter un nouveau Event </h1>
        </div>
        <mat-form-field>
          <mat-label>titre</mat-label>
          <input matInput formControlName="titre">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
            <input matStartDate formControlName="dateDebut" placeholder="Start date">
            <input matEndDate formControlName="dateFin" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

        </mat-form-field>


        <mat-form-field>
          <mat-label>description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </mat-card-header>
</mat-card>
</form>