<p>affect tool to member</p>
<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <mat-label>Member</mat-label>
        <mat-select formControlName="createur">
            <mat-option *ngFor="let createur of dataMembers" [value]="createur">
                {{ createur.nom }}
            </mat-option>
        </mat-select>
    </mat-form-field>

  <mat-form-field>
      <mat-label>Tool</mat-label>
      <mat-select formControlName="tool">
          <mat-option *ngFor="let tool of dataTools" [value]="tool">
              {{ tool.source }}
          </mat-option>
      </mat-select>
  </mat-form-field>

</mat-dialog-content>


<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>